html {
  margin: 0;
  padding: 0;
}
html, body {
	height: 100%;
}
body {
	line-height: 3rem;
  font-family: sans-serif;
  width: 0 auto;
  height: auto;
  Margin : 0 auto;
  padding: 0;
  background-color:whitesmoke;
}
.navbar{
  background-image: url(images/intro-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  padding-top: 100px;
  
}